@tailwind base;
@tailwind components;
@tailwind utilities;

/* App.css */

/* Hide message on desktop, show main content */
@media only screen and (min-width: 1024px) {
  #desktop-only-message {
    display: none;
  }
  #main-content {
    display: block;
  }
}

/* Hide main content on mobile, show message */
@media only screen and (max-width: 1023px) {
  #desktop-only-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.8rem;
    padding: 20px;
    text-align: center;
    background-color: #000;
    color: #adbd21;
  }
  #main-content {
    display: none;
  }
}

body {
  font-family: 'Montserrat';
  background-color: #000;
}

/* App.css */
/* Custom scrollbar for Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background-color: #b5b3b3;
  border-radius: 10px;

}
::-webkit-scrollbar-thumb:hover {
  background-color: #ede978;
}

